//import styled , { keyframes, css } from 'styled-components';
@import '../../styles/cores';

div.Container-input {
  display: flex;
  flex-direction: row;

  width: 250px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid $gray2;
  border-radius: 20px;

  svg {
      margin: 0 10px 0 0;
    }
}

input.myInput {
  border: none;
  margin-right: 5px;
}