//import styled , { keyframes, css } from 'styled-components';
@import '../../styles/cores';

button.mybutton {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent;
  border-radius: 20px;
  padding: 4px 12px;

  color: $bg;
  background: $primary-color; //primary-color

  :disabled {
    background: $gray2;
  }
 
  font-family: Roboto-Bold sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;

  transition: opacity 0.01s;
  height: 36px;
  width: 250px;
  svg {
    margin: 0 10px 0 0;
  }
  &:hover {
    opacity: 0.9;
  }
}