//import styled , { keyframes, css } from 'styled-components';
@import '../../styles/cores';

div.Container-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: $primary-color;
  height: 100vh;
  width: auto;
  border: none;
  border-radius: unset;
}

div.Formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $white;
  height: 70vh;
  width: 50vw;

  h4 {
    color: $gray2;
    font-size: 14px;
  }
  p {
    color: $red1;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  img {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    background: $white;  
  }
}



div.InputContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction:column;

    margin-bottom: 10px;
    width: 260px;

    span {
        font-weight: normal;
        color: $gray2;
        padding-bottom: 6px;
    }
}

text.TextError {
  color: $red1;
  margin-top: 10px;
}
