$primary-color: #554086;
$bg: #FEFEFE;
$white: #FFFFFF;
$border: #DEDEDE;
$black: #000000;
$gray1: #474A51;
$gray2: #808080;
$gray3: #D3D3D3;
$purple1: #9E7BDB;
$yellow: #E8CB58;
$orange: #e09057;
$blue1: #3E7AB6;
$blue2: #9ED2E7;
$red1: #CA4230;
$red2: #FF5C53;
$green1: #478f8a;
$green2: #85bc96;
$transparent: transparent;
$shadow: rgba(0,0,0, 0.15);