@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
.App {
  height: 100%;
   width: 100%;
}
html, body, #root {
  height: 100vh;
  width: 100vw;
}
div {
  overflow: auto;
  border:  none;
  margin: 0;
  padding: 0;
  outline: 0;
  border-radius: 0em;
}
body {
  -webkit-font-smoothing: antialiased;
}
body, input, button {
  font: 14px, 'Roboto', sans-serif;
}
h2 {
  color : #444;
  font-weight: bold;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
}