//import styled , { keyframes, css } from 'styled-components';
@import '../../styles/cores';

div.Container-home {
  display: grid;
  grid-template-columns: 1fr 11fr;
  color: $gray2;
  
  div.DashBoard-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    div.BoxTable-home {  
      width: 80vw;
      background: $bg;
      border: 1px solid $border;
      box-shadow: 8px 8px 8px $shadow;
    }
  
    div.TitleBox-home{
      display: flex;
      align-items: center;
      padding-left: 50px;
      width: auto;
      height: 60px;
      background: $primary-color;
  
      h1 {
        color: $white;
        font-weight: normal;
      }
    }
  } 
}

