//import styled , { keyframes, css } from 'styled-components';
@import '../../styles/cores';

div.Container-Search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  background-color: $bg ;
  width: 85vw; /**  width: 80vw;  */
  border-bottom: 1px solid $border;
  box-shadow: 4px 4px 8px $shadow;
  margin-bottom: 40px;
}

div.buscar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid $border;
  padding-right: 15px;

  span {
    color: $gray1;
    font-size: 14px;
  }
}

button.search {
  width: 55px;
  height: 25px;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid $red2;
  background-color: $bg;
  border-radius: 10px;
  color: $red2;
  font-weight: bold;
  font-size: 14px;
}