//import styled , { keyframes, css } from 'styled-components';
@import '../../styles/cores';

div.Container-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  width: 15vw;
  background-color: $primary-color;

  div.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }

  h1 {
    padding-left: 20px;
    color: $white;
    font-size: 30px;
  }

  h2 {
    padding-left: 14px;
    color: $white;
    font-size: 20px;
    font-weight: normal;
  }
}


div.Navegation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    margin-top: 10px;
    margin-right: 5px;
    transition: opacity 0.2s;

    h2 {
      font-weight: normal;
      color: #fff;
      :active {
        color: $orange;
      }
    }

    &:hover h2 {
      color: $orange;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
    }
  }

div.Logo {
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $gray3;
    padding-bottom: 20px;
    background: $primary-color;
    
    &:hover {
      opacity:  0.7 ;
    h1 {
      color: #ffff;
      font-weight: bold;
    }
  }
}

img.Link {
  width: 50px;
  height: 50px;
}
