//import styled , { keyframes, css } from 'styled-components';
@import '../../styles/cores';

div.Container-auth-lay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $primary-color;

  height: 100vh;
  width: 100vw;
}

