@import '../../styles/cores';

table.Container-table {
  width: 75vw;
  height: fit-content;
  background: $white;
  padding: 30px;
  font-size: 16px;
  
  tr:nth-child(even){
    background-color: $bg;
  }

  th {
    text-align: left;
    height: 60px;
    color: $primary-color;
  }

  td {
    color: $gray1;
    height: 60px;
    text-align: left;
    font-size: 16px;
  }
}